/* variables */
:root {
  --webwidth: 1280px;
  --main-color: #ffbc00;
  --light-pink-color: #d77dcd;
  --light-color: #e4e4e0ea;
  --dark-color: #333;
  --medium-color: #ccc;
  --primary-color: blueviolet;
}

body {
  /* background-color: #d77dcd; */
  background-image: url("../images/planebg.jpg");
  height: 100vh;
  margin: 0;
}

.flex-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-bar {
  border-radius: 3px;
  height: fit-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  align-items: center;
  padding: 0 5px;
  margin: 10px 0 0 0;
}

.container {
  /* max-width: var(--webwidth); */

  padding: 0 2.5rem;
  margin: auto;
  overflow: hidden;
  min-height: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
  color: white;
}

a:hover {
  border-color: var(--primary-color);
}

li {
  padding: 1rem 1.5rem;
  list-style: none;
}

h1 {
  color: white;
}

#menuitems {
  display: flex;
}

.current {
  border-color: var(--main-color);
}

/* li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
} */

@keyframes glow {
  50% {
    border-color: lime;
    width: 95%;
    box-shadow: 0px 0px 10px -2px green;
  }
  100% {
    border-color: green;
    width: 35%;
    box-shadow: 0px 0px 10px -2px green;
  }
}

.loadercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.288);
  width: 75%;
  padding: 10%;

  height: 100vh;
  z-index: 1;
  /* visibility: hidden; */
  display: none;
}

.loadercontainer:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px 20px; */
}
@keyframes load {
  50% {
    transform: rotatez(180deg) scale(0.2);
    border-color: orange;
  }
  100% {
    transform: rotatez(360deg) scale(1.1);
  }
}
.loader1::before {
  content: "";
  color: white;
  height: 30px;
  width: 30px;
  background: transparent;
  border-radius: 45%;
  border: 25px dotted lime;
  animation: load 1s infinite ease-in-out;
}

.successprice {
  color: green;
  font-size: 20px;
  font-weight: bolder;
}

.flightsearchList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid orange;
}

.flighttimesmall {
  font-size: small;
}
