.map-view .icon {
  height: 30px;
  width: 30px;
}
.map-view .tt-icon.-finish {
  height: 16px;
  width: 16px;
}
.map-view .icon-spacing {
  margin-right: 14px;
  margin-top: 24px;
}
.map-view .searchbox {
  flex: 1;
}
.map-view .searchbox-wrapper {
  display: flex;
  min-height: 52px;
}
.map-view .draggable-marker {
  align-items: center;
  background-color: #4a90e2;
  border: solid 3px #2faaff;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  transition: width 0.1s, height 0.1s;
  width: 32px;
}
.summary-header {
  border-bottom: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: bold;
  padding: 24px;
}
.summary-details-top {
  font-size: 16px;
  font-weight: bold;
  padding: 24px 24px 0;
  margin: 5px;
}
.summary-details-bottom {
  display: flex;
  margin: 10px;
}
.summary-icon-wrapper {
  padding: 24px;
  width: 98px;
}
.summary-details-text {
  padding: 24px 24px 24px 0;
  width: calc(100% - 98px);
}
.summary-details-info {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.summary-details-info.-second {
  margin-top: 10px;
}
.tt-icon.-car {
  height: 50px !important;
  width: 50px !important;
}
